section.togglePagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 28px;
    padding: 0vw 11.11vw;
    gap: 2px;
}

section.togglePagination > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: none;
    border-radius: 8px;
    color: rgba(115, 115, 128, 1);
    background: rgba(233, 233, 240, 1);
    cursor: pointer;
}

section.togglePagination > button.active {
    border: 1px solid rgba(255, 165, 133, 1);
    color: rgba(255, 165, 133, 1);
    font-weight: 600;
}

section.togglePagination > button:active {
    border: 1px solid rgba(255, 165, 133, 1);
    color: rgba(255, 165, 133, 1);
    font-weight: 600;
}

@media (min-width: 769px) and (max-width: 1155px) {
    section.togglePagination {
        padding: 0px 30px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    section.togglePagination {
        padding: 0px 10px;
    }
}

@media (max-width: 480px) {
    section.togglePagination {
        padding: 0px 0px;
        justify-content: center;
        gap: 5px;
    }
}