* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    overflow-x: hidden;
    background: rgba(240, 240, 245, 1);
    box-shadow: 0px 4px 20px 0px rgba(149, 149, 149, 0.1);
}

.h1Fetching {
    width: 100vw;
    text-align: center;
    font-weight: 600;
    font-size: 3.5vw;
    margin: 100px 0px;
}

.mainCards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 0px 160px;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 32px;
}

.mainCards > div {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: .3s;
}

.mainCards > div:hover {
    box-shadow: 10px 10px 20px black;
    transform: scale(1.05);
    border-radius: 8px;
}

.mainCards > div > img {
    border-radius: 8px 8px 0px 0px;
}

.mainCards > div > p {
    width: 232px;
    height: 24px;
    margin-top: 8px;
    margin-left: 12px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: rgba(65, 65, 77, 1);
}

.mainCards > div > p:last-child {
    height: 21px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: rgba(9, 9, 10, 1);
}

@media (min-width: 769px) and (max-width: 1155px) {
    .mainCards {
        padding: 0px 30px;
        row-gap: 32px;
    }

    .mainCards > div {
        width: 27vw;
    }

    .mainCards > div > img {
        width: 27vw;
    }

    .mainCards > div > p {
        width: 25vw;
        margin-bottom: 20px;
    }

    .mainCards > div > p:last-child {
        margin-bottom: 0px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .mainCards {
        padding: 0px 10px;
        gap: 10px;
        justify-content: center;
    }

    .mainCards > div {
        width: 30vw;
    }

    .mainCards > div:hover {
        transform: scale(1);
    }

    .mainCards > div > img {
        width: 30vw;
    }

    .mainCards > div > p {
        width: 28vw;
        margin-bottom: 20px;
    }

    .mainCards > div > p:last-child {
        margin-bottom: 0px;
    }
}
    

@media (max-width: 480px) {
    .mainCards {
        flex-direction: column;
        padding: 0px 10px;
        gap: 10px;
    }

    .mainCards > div {
        width: 80vw;
    }

    .mainCards > div:hover {
        transform: scale(1);
    }

    .mainCards > div > img {
        width: 80vw;
    }

    .mainCards > div > p {
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }
}