section.navSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 26px;
    width: 100vw;
    padding: 0px 160px;
}

section.navSection > div.divLink {
    display: flex;
    gap: 10px;
}

section.navSection > div.divLink > a {
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

section.navSection > div.divOrganizeBy > select {
    border: transparent;
    border-radius: 1px;
    background-color: transparent;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

section.togglePagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 28px;
    padding: 0px 160px;
    gap: 2px;
}

section.togglePagination > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    border-radius: 8px;
    background: rgba(233, 233, 240, 1);
    cursor: pointer;
}

@media (min-width: 769px) and (max-width: 1024px) {
    section.navSection, section.togglePagination {
        padding: 0px 30px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    section.navSection, section.togglePagination {
        padding: 0px 10px;
    }

    section.navSection > div.divLink > a {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    section.navSection {
        padding: 0px 0px;
        flex-direction: column;
        gap: 20px;
    }

    section.togglePagination {
        padding: 0px 0px;
        justify-content: center;
        gap: 5px;
    }

    section.navSection > div.divLink {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 0px;
        width: 100vw;
    }

    section.navSection > div.divLink > a {
        font-size: 14px;
    }
}